{% extends 'main/base.html' %}

{% block title %}Home - Portfolio{% endblock %}

{% block content %}
<section id="about">
    <div class="container">
        <h2>About Me</h2>
        <p>Brief introduction about yourself.</p>
    </div>
</section>

<section id="projects" class="project-grid">
    <div class="container">
        <h2>Projects</h2>
        <div class="projects">
            {% for project in projects %}
                <div class="project">
                    <h3>{{ project.title }}</h3>
                    <img src="{{ project.image.url }}" alt="{{ project.title }}">
                    <p>{{ project.description }}</p>
                    {% if project.url %}
                        <a href="{{ project.url }}">Here's how I did it</a>
                    {% endif %}
                </div>
            {% empty %}
                <p>No projects found.</p>
            {% endfor %}
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <h2>Where can you find me?</h2>
        <p>Social media links</p>
    </div>
</section>
{% endblock %}


